/*-- scss:defaults --*/
// Base document colors
$body-bg: white;
$body-color: black;
$link-color: #003300;

$color-primary: #003300
$color-secondary: #A23333

// Code blocks
$code-block-bg-alpha: -.8;